@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;500&display=swap");
body {
  font-family: "Lobster", cursive;
  background-color: #fde68a;
}
.container {
  padding-top: 70px;
  text-align: center;
}
textarea {
  width: 80%;
  height: 10vh;
  display: block;
  margin: 1rem;
  padding: 1rem;
  margin-left: 120px;
}

#output {
  background-color: white;
  border: 1px solid black;
  height: 10vh;
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  margin-left: 120px;
}
button {
  margin-bottom: 50px;
  font-weight: bold;
  background-color: #ca8a04;
  padding: 20px 50px;
}
